[submodule "home/.vim/bundle/vim-gradle"]
	path = home/.vim/bundle/vim-gradle
	url = https://github.com/tfnico/vim-gradle.git
[submodule "home/.vim/bundle/vim-go"]
	path = home/.vim/bundle/vim-go
	url = https://github.com/fatih/vim-go.git
[submodule "home/.vim/pack/my-plugins/start/vim-airline"]
	path = home/.vim/pack/my-plugins/start/vim-airline
	url = git@github.com:vim-airline/vim-airline.git
[submodule "home/.vim/pack/my-plugins/start/vim-airline-themes"]
	path = home/.vim/pack/my-plugins/start/vim-airline-themes
	url = git@github.com:vim-airline/vim-airline-themes.git
[submodule "home/.vim/pack/my-plugins/start/nerdtree"]
	path = home/.vim/pack/my-plugins/start/nerdtree
	url = git@github.com:scrooloose/nerdtree.git
