[submodule "home/.vim/pack/my-plugins/start/vim-airline"]
	path = home/.vim/pack/my-plugins/start/vim-airline
	url = git@github.com:vim-airline/vim-airline.git
[submodule "home/.vim/pack/my-plugins/start/vim-airline-themes"]
	path = home/.vim/pack/my-plugins/start/vim-airline-themes
	url = git@github.com:vim-airline/vim-airline-themes.git
[submodule "home/.vim/pack/my-plugins/start/nerdtree"]
	path = home/.vim/pack/my-plugins/start/nerdtree
	url = git@github.com:scrooloose/nerdtree.git
[submodule "home/.vim/home/.vim/pack/my-plugins/start/fugitive"]
	path = home/.vim/home/.vim/pack/my-plugins/start/fugitive
	url = git@github.com:tpope/vim-fugitive.git
[submodule "home/.vim/pack/my-plugins/start/fugitive"]
	path = home/.vim/pack/my-plugins/start/fugitive
	url = git@github.com:tpope/vim-fugitive.git
[submodule "home/.vim/pack/my-plugins/start/nerdtree-git-plugin"]
	path = home/.vim/pack/my-plugins/start/nerdtree-git-plugin
	url = git@github.com:Xuyuanp/nerdtree-git-plugin.git
