[core]
excludesfile = ~/.gitignore
[user]
name = Edd Armitage
email = edward.armitage@gmail.com
[color]
ui = true
[alias]
glog = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr)%C(bold blue)<%an>%Creset' --abbrev-commit
[push]
default = simple
[merge]
tool = p4merge
[include]
path = ~/.gitconfig.overrides
